
<mat-stepper [formGroup]="orderForm" [linear]="true" #stepper>
  <!-- [completed]="!!directionResult" -->
  <mat-step  [hasError]="orderForm.controls.origin.invalid || orderForm.controls.destination.invalid" errorMessage="Indicate origin and destination">
    <ng-template matStepLabel>Route</ng-template>
    <div>
      <div formGroupName="origin">
        <div>Origin</div>
        <input type="hidden" step=".0000000000001" formControlName="lat" />
        <input type="hidden" step=".0000000000001" formControlName="lng" />
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput type="text" formControlName="street" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>House number</mat-label>
          <input matInput type="text" formControlName="house_number" />
        </mat-form-field>
        <button mat-raised-button [style.marginLeft.px]="4" (click)="find('origin')" [disabled]="orderForm.controls.origin.invalid">Find</button>
      </div>
      <div formGroupName="destination">
        <div>Destination</div>
        <input type="hidden" step=".0000000000001" formControlName="lat" />
        <input type="hidden" step=".0000000000001" formControlName="lng" />
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput type="text" formControlName="street" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>House number</mat-label>
          <input matInput type="text" formControlName="house_number" />
        </mat-form-field>
        <button mat-raised-button [style.marginLeft.px]="4" (click)="find('destination')" [disabled]="orderForm.controls.destination.invalid">Find</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Goods</ng-template>
    <form *ngFor="let good of orderForm.value.goods" [formGroup]="good">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Weight, kg</mat-label>
        <input formControlName="weight" type="number" [step]=".02" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Volume, cm<sup>3</sup></mat-label>
        <input formControlName="volume" type="number" [step]=".02" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Good Type</mat-label>
        <mat-select formControlName="good_type_id">
          <mat-option [value]="0" *ngIf="good.good_type_id === 0">Select a good type</mat-option>
          <mat-option [value]="goodType.id" *ngFor="let goodType of goodData.good_types">{{ goodType.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Package Type</mat-label>
        <mat-select formControlName="good_package_type_id">
          <mat-option [value]="0" *ngIf="good.good_package_type_id === 0">Select a package type</mat-option>
          <mat-option [value]="goodPackageType.id" *ngFor="let goodPackageType of goodData.good_types">{{ goodPackageType.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Commodity</mat-label>
        <mat-select formControlName="commodity_id">
          <mat-option [value]="0" *ngIf="good.commodity_id === 0">Select a commodity</mat-option>
          <mat-option [value]="commodity.id" *ngFor="let commodity of goodData.commodities">{{ commodity.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="removeGood(good)"><mat-icon>delete_forever</mat-icon></button>
    </form>
    <button mat-button (click)="addGood()">Add good</button>
    <div>
      <button mat-raised-button color="accent" (click)="createOrder()" [disabled]="!directionResult">Create order</button>
    </div>
  </mat-step>
</mat-stepper>
<div id="map-wrapper">
  <google-map
    (mapDblclick)="mapDoubleClick($event)"
    (tilesloaded)="coordinates()"
    #map
    (zoomChanged)="zoomChanged()"
    [zoom]="zoom"
    [center]="center"
    [options]="{disableDoubleClickZoom: true}"
    width="100%"
    height="100%"
  >
    <google-map-control
      [style]="{backgroundColor: '#fff', padding: '4px'}"
      [textStyle]="{color: 'black'}"
      title="Hm..."
      buttonText="Hello"
      [position]="11"
      (click)="clickButton()"
      [map]="map"
    ></google-map-control>
    <map-marker
      *ngFor="let marker of markers"
      (click)="clickButton()"
    ></map-marker>
    <map-polyline *ngIf="polylineOptions" [options]="polylineOptions">
    </map-polyline>
    <map-marker
      *ngIf="$any(orderForm.controls.origin).controls.lat.value && $any(orderForm.controls.origin).controls.lng.value"
      [position]="{lat: $any(orderForm.controls.origin).controls.lat.value, lng: $any(orderForm.controls.origin).controls.lng.value}"
    ></map-marker>
    <map-marker
      *ngIf="$any(orderForm.controls.destination).controls.lat.value && $any(orderForm.controls.destination).controls.lng.value"
      [position]="{lat: $any(orderForm.controls.destination).controls.lat.value, lng: $any(orderForm.controls.destination).controls.lng.value}"
    ></map-marker>
  </google-map>
</div>
